button{
    border:none;
}
.btn-green{
    @include btn-bold();
    @include bg-green();
}
.btn-brown{
    @include btn-bold();
    @include bg-brown();
}
.btn-cyan{
    @include btn-bold();
    @include bg-cyan();
}
.btn-bitalic-green{
    @include btn-bitalic();
    @include color-green();
}
.link-green{
    @include link-bitalic();
    @include color-green();
    text-decoration: underline;
    &:hover{
        @include color-green();
    }
}
.link-white{
    @include link-bitalic();
    color: #fff;
    text-decoration: underline;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
.bold{
    font-family: 'OpenSans Bold'; 
}
.italic{
    font-family: 'OpenSans Italic';
}
.italic-u{
    font-family: 'OpenSans Italic';
    text-decoration: underline;
}
.bold-italic{
    font-family: 'OpenSans BoldItalic'; 
}
.bold-italic-u{
    font-family: 'OpenSans BoldItalic';
    text-decoration: underline;
}
.cyan{
    @include color-cyan;
    &:hover{
        @include color-cyan;
    }
}
.green{
    @include color-green;
    &:hover{
        @include color-green;
    }
}
.bg-cyan{
    @include bg-cyan;
    a, &:hover{
        color: $white;
    }
}
.bg-brown{
    background: $site-brown-bg;
}
.bg-green{
    @include bg-green;
}
/* -- box brown -- */
/* height limit of box head: 410px */
.box-brown-head{
    background: url(../images/brown-t-m.png) repeat top center !important;
    padding: 20px 10px 0;
    @include media-breakpoint-up("md"){
        padding:20px 20px 0;
    }
}
.box-brown-head-left{
    background: url(../images/brown-t-l.png) no-repeat top left !important;
    padding-left:30px;
}
.box-brown-head-right{
    background: url(../images/brown-t-r.png) no-repeat top right !important;
    padding-right:30px;
}
.box-brown-content{
    background: #f6f5f3;
    padding: 0px 10px 0;
    @include media-breakpoint-up("md"){
        padding:0px 20px 0;
    }
}
.box-brown-content-left{
    background: url(../images/brown-m-l.png) repeat-y top left !important;
    padding-left:30px;
}
.box-brown-content-right{
    background: url(../images/brown-m-r.png) repeat-y top right !important;
    padding-right:30px;

}
/* height limit of box foot: 410px */
.box-brown-foot{
    background: url(../images/brown-f-m.png) repeat bottom center !important;
    padding: 0px 10px 20px;
    @include media-breakpoint-up("md"){
        padding:0px 20px 20px;
    }
}
.box-brown-foot-left{
    background: url(../images/brown-f-l.png) no-repeat bottom left !important;
    padding-left:30px;
}
.box-brown-foot-right{
    background: url(../images/brown-f-r.png) no-repeat bottom right !important;
    padding-right:30px;
}
/* -- box cyan -- */
/* height limit of box head: 410px */
.box-cyan-head{
    background: url(../images/cyan-t-m.png) repeat top center !important;
    padding: 20px 10px 0;
    @include media-breakpoint-up("md"){
        padding:20px 20px 0;
    }
}
.box-cyan-head-left{
    background: url(../images/cyan-t-l.png) no-repeat top left !important;
    padding-left:30px;
}
.box-cyan-head-right{
    background: url(../images/cyan-t-r.png) no-repeat top right !important;
    padding-right:30px;
}
.box-cyan-content{
    background: $site-cyan-bg;
    padding: 0px 10px 0;
    @include media-breakpoint-up("md"){
        padding:0px 20px 0;
    }
}
.box-cyan-content-left{
    background: url(../images/cyan-m-l.png) repeat-y top left !important;
    padding-left:30px;
}
.box-cyan-content-right{
    background: url(../images/cyan-m-r.png) repeat-y top right !important;
    padding-right:30px;

}
/* height limit of box foot: 410px */
.box-cyan-foot{
    background: url(../images/cyan-f-m.png) repeat bottom center !important;
    padding: 0px 10px 20px;
    @include media-breakpoint-up("md"){
        padding:0px 20px 20px;
    }
}
.box-cyan-foot-left{
    background: url(../images/cyan-f-l.png) no-repeat bottom left !important;
    padding-left:30px;
}
.box-cyan-foot-right{
    background: url(../images/cyan-f-r.png) no-repeat bottom right !important;
    padding-right:30px;
}
/* breadcrumbs */
.breadcrumbs{
    font-size: .875rem;
    word-spacing:5px;
    a{
       color:#fff;
    }
    span.current{
        font-family: 'OpenSans Bold';
        word-spacing:1px;
    }
}
/* text with svg for shade effective */
.shader{
    position: relative;
    font-family: 'BebasNeue'; 
    line-height: 5.0625rem; 
    font-size:5.0625rem; 
    @include color-cyan;
    text-align: left;
    width: 60px;
    height: 120px;
    margin:0 auto;
    @include media-breakpoint-up("md"){
        font-size:7.25rem;
        line-height: 7.25rem;
        float: left;
    }
    .shade{
        position: absolute;
        opacity: .65;
        top:22px;
        left:0px;
        @include media-breakpoint-up("md"){
            top:0px;
        }
    }
    svg{
        text{
        }
    }
}
/* call box */
.callbox{
    outline:1px solid #e0edd6;
    position: relative;
    z-index: 1;
    .bg{
        position: absolute;
        z-index: -1;
        width: 100%; 
        content:"";
        display: table;
    }
    .heart{
        position: absolute;
        width:22px;
        height:22px;
        content:"";
        display: table;
    }
    .content{
        /*color:$white ;*/
        p:last-child{
            margin-bottom:0
        }
    }
    &.green{
        .bg{
            background: $site-green;
        }
        .heart{
            background:url(../images/bg-heart-green.png) no-repeat center center;
        }
        .content{
            color:$white ;
        }
    }
    &.cyan{
        outline:2px solid #c6cfd5;
        .bg{
            background: #D2EFED; /* #9AD5D3; */
        }
        .heart{
            background:url(../images/bg-heart-cyan.png) no-repeat center center;
        }
    }
    &.brown{
        .bg{
            background: #F6F5F3;
        }
        .heart{
            background:url(../images/bg-heart-brown.png) no-repeat center center;
        }
    }
    &.topleft{
        margin : 15px 15px 30px 0;
        padding: 8px 15px 30px 30px;
        .bg{
            top:-8px;
            left:15px;
        }
        .heart{
            left:-11px; /* -(22/2) */
        }
    }
    &.topright{
        margin : 15px 8px 30px 8px;
        padding: 8px 15px 30px 8px;
        .bg{
            top:-8px;
            left:-8px;
        }
        .heart{
            right:-11px; /* -(22/2) */
        }
    }
    &.bottomleft{
        margin : 15px 8px 30px 8px;
        padding: 30px 15px 15px 15px;
        .bg{
            bottom:-8px;
            left:-8px;
        }
        .heart{
            bottom:10px;
            right:-11px; /* -(22/2) */
        }
    }
    &.bottomright{
        margin : 15px 15px 30px 0;
        padding: 30px 15px 15px 30px;
        .bg{
            bottom:-8px;
            left:15px;
        }
        .heart{
            bottom:10px;
            left:-11px; /* -(22/2) */
        }
    }
}
.heart-item{
    padding: 0px 0 0px 75px;
    min-height: 65px;
    margin:15px 0 35px;
    background: url(../images/list-item-heart.png) no-repeat top left;
    @include media-breakpoint-up("md"){
        padding-top:10px;
        background-position: center left;
    }
}