.btn-green{
    @include btn-bold();
    @include bg-green();
}
.btn-brown{
    @include btn-bold();
    @include bg-brown();
}
.btn-bitalic-green{
    @include btn-bitalic();
    @include color-green();
}
.link-green{
    @include link-bitalic();
    @include color-green();
    text-decoration: underline;
    &:hover{
        @include color-green();
    }
}
.link-white{
    @include link-bitalic();
    color: #fff;
    text-decoration: underline;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}