body{
    font-family: $font-site;
    font-size: $font-size-site;
}
.btn{
    border-radius: 5px;
    height: 45px;;
    line-height: 45px;
    color:#fff;
    font-family: "OpenSans Bold";
    display: inline-block;
    &:hover{
        text-decoration: none;
        color:#fff;
    }
}
.btn.green{
    background: #97bf65;
}
.btn.brown{
    background: #56330e;
}
.btn-link{
    font-size: 17px;
    font-family: 'OpenSans BoldItalic'; 
    color: #97bf65;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
        color: #97bf65;
    }
}
.module-title{
    font-size: 60px;
    font-family: 'BebasNeue';
}
.topic-title{
    font-size: 36px;
    text-align: center;
    font-family: 'Nickainley'; 
}
.sub-title{
    color: #56330e;
    text-align: center;
}