@mixin color-brown {
    color: $site-brown;
}
@mixin color-green {
    color: $site-green;
}
@mixin color-cyan {
    color: $site-cyan;
}
@mixin bg-brown {
    color: $white;
    background-color: $site-brown;
}
@mixin bg-green {
    color: $white;
    background-color: $site-green;
}
@mixin bg-cyan {
    color: $white;
    background-color: $site-cyan;
}
@mixin bebasneue-title($align:$default_align){
    text-align: $align;
    font-family: 'BebasNeue';
}
@mixin bebasneue-title-green($align:$default_align){
    @include bebasneue-title($align);
    color: $site-green;
}
@mixin bebasneue-title-brown($align:$default_align){
    @include bebasneue-title($align);
    color: $site-brown;
}
@mixin bebasneue-title-cyan($align:$default_align){
    @include bebasneue-title($align);
    color: $site-cyan;
}
@mixin oswald-title($align:$default_align){
    text-align: $align;
    font-family: 'Oswald'; 
}
@mixin nickainley-title($align:$default_align){
    text-align: $align;
    font-family: 'Nickainley'; 
}
@mixin nickainley-title-green($align:$default_align){
    @include nickainley-title($align);
    color: $site-green;
}
@mixin nickainley-title-brown($align:$default_align){
    @include nickainley-title($align);
    color: $site-brown;
}
@mixin nickainley-title-cyan($align:$default_align){
    @include nickainley-title($align);
    color: $site-cyan;
}
@mixin btn-default{
    cursor: pointer;
    border-radius: 5px;
    &:hover{
        text-decoration: none;
        color:$white;
    }
}
@mixin btn-bold{
    @include btn-default();
    font-family: "OpenSans Bold";
}
@mixin btn-bitalic{
    @include btn-default();
    font-family: "OpenSans BoldItalic";
}
@mixin link-bitalic{
    font-family: "OpenSans BoldItalic";
    &:hover{
        text-decoration: none;
    }
}