@mixin color-brown {
    color: $site-brown;
}
@mixin color-green {
    color: $site-green;
}
@mixin color-cyan {
    color: $site-cyan;
}
@mixin bg-brown {
    color: $white;
    background-color: $site-brown;
}
@mixin bg-green {
    color: $white;
    background-color: $site-green;
}
@mixin bg-cyan {
    color: $white;
    background-color: $site-cyan;
}
@mixin bebasneue-title{
    text-align: center;
    font-family: 'BebasNeue';
}
@mixin bebasneue-title-green{
    @include bebasneue-title();
    color: $site-green;
}
@mixin bebasneue-title-brown{
    @include bebasneue-title();
    color: $site-brown;
}
@mixin bebasneue-title-cyan{
    @include bebasneue-title();
    color: $site-cyan;
}
@mixin nickainley-title{
    text-align: center;
    font-family: 'Nickainley'; 
}
@mixin nickainley-title-green{
    @include nickainley-title();
    color: $site-green;
}
@mixin nickainley-title-brown{
    @include nickainley-title();
    color: $site-brown;
}
@mixin nickainley-title-cyan{
    @include nickainley-title();
    color: $site-cyan;
}
@mixin btn-default{
    border-radius: 5px;
    &:hover{
        text-decoration: none;
        color:$white;
    }
}
@mixin btn-bold{
    @include btn-default();
    font-family: "OpenSans Bold";
}
@mixin btn-bitalic{
    @include btn-default();
    font-family: "OpenSans BoldItalic";
}