#navigation{
    .mp-menu{        
        h2{
            border-bottom: 1px solid #ece7e2;
        }
        ul li{
            .green-banner{
               @include bg-green();               
            }
            .cyan-banner{
               @include bg-cyan();
            }
            .green-banner,
            .cyan-banner{
                padding: 1.25rem 0;
                border-bottom: 1px solid #ece7e2;
                &:after{
                    clear: both;
                    content: "";
                    display: table;
                }
                @include media-breakpoint-up("md"){
                    padding: 1.5rem 1rem;
                }
                img{
                    width: 70px;
                    margin-right:20px;
                    float: left;
                    @include media-breakpoint-up("md"){
                        width: 83px;
                    }
                }
                h3{
                    @include oswald-title(left);
                    font-size: 1.375rem;
                    @include media-breakpoint-up("md"){
                        font-size: 1.5rem;
                    }
                }
                .desc{
                    font-family: 'Oswald Light';
                    font-size: 1rem; 
                    @include media-breakpoint-up("md"){
                        font-size: 1.06rem;
                    }
                }
            }
            &.has-child{
                border-bottom: 1px solid #ece7e2;
                background: url(../images/menu-arr-item.png) no-repeat center right;
                & > a{
                    @include bebasneue-title-brown(left);
                    font-size:1.6875rem;
                    padding: 0.5rem 1rem;
                    @include media-breakpoint-up("md"){
                        font-size: 1.875rem;
                    }
                }
            }
            a{
                @include color-cyan();
                font-size:1.0625rem;
                padding:0.5rem  1rem;
                font-family: 'OpenSans Bold'; 
            }
            .mp-back{
                @include bebasneue-title(left);
                @include bg-cyan();
                font-size:1.6875rem;
                padding: 0.5rem 1rem 0.5rem 2.8rem;
                line-height: 2.63rem;
                background-image :url(../images/menu-back.png);
                background-repeat: no-repeat;
                background-position:  1rem center;
                margin-bottom:15px;
                @include media-breakpoint-up("md"){
                    font-size: 1.875rem;
                }

            }
            .contact{
                background: #eae5e2;
                padding:1rem ;
                h3{
                    font-family: 'Oswald Bold';
                    font-size: 1.25rem;
                    @include color-brown();
                    @include media-breakpoint-up("md"){
                        font-size: 1.31rem;
                    }
                }
                .firstline{
                    font-family: Oswald;
                    font-size: 1rem;
                    @include color-brown();
                    @include media-breakpoint-up("md"){
                        font-size: 1.1rem;
                    }
                    span{
                        @include color-cyan();
                    }
                }
                .btn-contact{
                    @include color-brown;
                    border-color:$site-brown;
                    border-radius: 10px;
                    border-width: 1px;
                    border-style: solid;
                    display: inline-block;
                    padding: 10px 17px;
                    text-transform: capitalize;

                    &:last-child{
                        margin-left: 20px;
                    }
                }
            }
        }
    } 
}
#sitetop{
    padding: 5px 0 0;
    background:#fff;
    @include media-breakpoint-up("md"){
        padding: 15px 0 0;
    }
    .col-xs-12{
        vertical-align: top;
    }
    .btn-menu{ 
        cursor: pointer;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        img{
            vertical-align: top;
            margin: 5px 0 0;
        }
    }
    h1{ 
        display: inline-block;
        margin: 0 0 0 20px;
        @include media-breakpoint-up("md"){
            margin: 0 0 0 25px;
        }
    }
    ul.top-links{
        display: none;
        @include media-breakpoint-up("xl"){
            display:block;
            float: right;
            margin:5px 0 0;
            li{
                display: inline;
                height: 50px;
                line-height: 50px;
                margin-right: 40px;
                a{
                    color:$site-brown;
                }
            }
        }
    }
    .top-phone{
        display: none;
        @include media-breakpoint-up("lg"){
            display: block;
            float: right;
            min-height: 50px;
            padding: 0;
            font-size: 2rem;
            @include bebasneue-title-cyan();
            margin:5px 30px 0 0; 
        }
    }
    a.btn-free-app{
        display: none;
        @include media-breakpoint-up("md"){
            display: block;
            float: right;
            @include bg-green();
            @include btn-bold();
            border: 0;
            min-height: 42px;
            padding:0 25px;
            margin:5px 15px 0 0;
            line-height: 42px;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .btn-bbb{
        display: block;
        float: right;
        img{
        }
    }
}
#header-slider{
    .slick-header{
        .slick-nav{
            display: none;         
            @include media-breakpoint-up("md"){
                position: absolute;
                display: block;
                width: 25px;
                height: 35px;
                top:210px;
                cursor: pointer;
            }      
            @include media-breakpoint-up("xl"){
                top:270px;
            }
        }
        .prev{
            left: 25px;
            background: url(../images/arrPrev.png) no-repeat center center;
        }
        .next{
            right: 25px;
            background: url(../images/arrNext.png) no-repeat center center;
        }
        .item{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: $white;
            text-align: center;
            position: relative;
            .content{
                min-height: 350px;            
                @include media-breakpoint-up("md"){
                    min-height: 460px;
                }
                @include media-breakpoint-up("xl"){
                    min-height: 575px;
                }
            }
            .little-title{
                display: none;
            }
            .first-title{
                @include nickainley-title-green();
                font-size: 1.9rem;
                padding-top:50px;
                @include media-breakpoint-up("md"){
                    padding-top:70px;
                    font-size: 2.3rem;
                }
                @include media-breakpoint-up("xl"){
                    padding-top:85px;
                    font-size: 3.8rem;
                }
            }
            .second-title{
                font-size: 4rem;
                @include bebasneue-title();
                color: $white;
                @include media-breakpoint-up("md"){ 
                    font-size: 6.35rem;
                }
                @include media-breakpoint-up("xl"){ 
                    font-size: 10.6rem;
                }
            }
            p{
                display: none;
                @include media-breakpoint-up("md"){
                    display: block;
                }
            }
            .btn-green,
            .btn-brown{
                width: 200px;
                margin:0 auto;
                display: none;
                padding:15px 0;
                @include media-breakpoint-up("md"){
                    @include btn-bold(); 
                    display: block;
                }
            }
            .btn-bottom{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                @include bg-green();
                padding: 20px 0; 
                @include media-breakpoint-up("md"){
                    display: none;
                }
            }
        } 
    }
}
#top-readmores{
    @include bg-cyan();
    .col-md-4{
        border-bottom:1px solid #49B3AF;
        @include media-breakpoint-up("md"){
            border-right:1px solid #49B3AF;
            border-bottom:none;
        }
    }
    .col-md-4:last-child{
        border-right:none;
        border-bottom:none;
    }
    img{
        border-radius: 50px;
        margin-bottom:15px;
        @include media-breakpoint-up("md"){
            width: 85px;
            border-radius:42.5px;
        }
    }
    .gray{
        transition: visibility 0s, opacity 0.5s linear;
        text-align: center;
        display: none;
        background:#f6f5f3;
        min-height: 267px;
        padding:25px 0 0;
        .desc{
            color:$site-brown;
            line-height: 1.4em;
            margin-bottom:15px;
            @include media-breakpoint-up("lg"){
                padding: 0 20px;
                margin-bottom:10px;
            }
        }
        .btn-readmore{
            border: none;
            padding: 0 15px;
            @include btn-bitalic();
            @include color-cyan();
            text-decoration: underline;
            min-height: 20px; 
            display: inline-block;
            cursor: pointer;
            @include media-breakpoint-up("lg"){
                border: 2px solid #34aba7;
                @include btn-bold();
                min-height: 45px;
                padding: 9px 55px 0;
                text-decoration: none;
            }
            span{
                display: inline; 
                @include media-breakpoint-up("lg"){
                    display: none;
                }
            }
            &:hover{
                color:$site-cyan;
            }
        }
    }
    .green{
        padding:25px 0 0;
        text-align: center;
        min-height: 267px;
        h3{
            font-size: 2.24rem;
            color:$white;
            @include bebasneue-title(); 
            @include media-breakpoint-up("lg"){
                font-size:2.8rem;
            }
        }
        .desc{
            color:#fff;
            font-size:1.125rem;
            font-family: "Oswald Light";
            @include media-breakpoint-up("lg"){
                font-size:1.25rem;
            }
        }
    }
}
#recent-adopts{
    background: url("../images/bg-heart.png") top center no-repeat;
    padding:50px 0 ;
    text-align: center;
    @include color-brown();
    .topic-title{
        margin-bottom:10px;
        @include nickainley-title-brown();
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .sub-title{
        @include color-brown();
        text-align: center;
        margin-bottom:40px;
    }
    .baby-name{
        color: $site-green;
        font-size: 1.375rem;
        font-family: 'Oswald';
        margin-bottom: 10px;
    }
    .baby-img{
        padding: 5px;
        background: #f6f5f3;
        margin-bottom: 15px;
    }
    .congrat{
        color:$site-brown;
        font-family: 'OpenSans Italic';
        br{
            @include media-breakpoint-up("lg"){
                display: none;
            }
        }
    }
}
#lifelong-union{
    @include bg-green();
    font-family: "Oswald";
    padding:20px 0;
    text-align: center;
    span{
        font-size:1.25rem;
        @include media-breakpoint-up("md"){
            font-size:1.5rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:1.65rem;
        }
    }
    .link-white{
        font-size: 1em;
        span{
            font-size: 1em;
        }
    }
}
#adoption-stories{
    background: #f6f5f3;
    text-align: center;
    padding: 60px 0 70px;
    @include color-brown();
    h2.topic-title{
        margin-bottom: 25px;
        @include nickainley-title-brown();
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .sub-title{
        margin-bottom: 40px;
    }
    .slick-stories{
        margin: 0 10px;
        .slick-nav{    
            position: absolute;
            display: block;
            width: 21px;
            height: 29px;
            top:115px;
            cursor: pointer;  
            @include media-breakpoint-up("md"){
            }      
            @include media-breakpoint-up("xl"){                
            }
        }
        .prev{
            left: 15px;
            background: url(../images/arrPrevStory.png) no-repeat center center;
        }
        .next{
            right: 15px;
            background: url(../images/arrNextStory.png) no-repeat center center;
        }
        .item{
            background: #fff;
            padding: 5px 5px 20px 5px ;
            margin: 0 7px;
            min-height: 360px;
            img{ 
                margin: 0 auto 20px;
                width:100%;
            }
            h3{
                font-size: 1.75rem;
                font-family: 'Oswald';
                margin-bottom: 20px;
            }
            .desc{ }
            .btn-ribbon{
                background: url("../images/ribbon.png") no-repeat center center;
                display: block;
                margin: 0 auto;
                height: 37px ;
                line-height: 37px ;
                width: 210px;
                color:#fff;
                &:hover{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
}
#free-app{
    background: #34aba7 url("../images/bg-free-app.png") repeat-x bottom center;
    color:#fff;
    padding:70px 0 70px;
    text-align: center;
    @include media-breakpoint-down("md"){
        padding:60px 0 60px;
    }
    @include media-breakpoint-down("lg"){
        padding:65px 0 80px;
    }
    h2.module-title{
        @include bebasneue-title();
        @include bg-cyan();
        margin-bottom: 45px;
        font-size: 2.88rem;
        @include media-breakpoint-up("md"){
            font-size: 3.25rem;
        }
        @include media-breakpoint-up("lg"){
            font-size: 3.75rem;
        }
    }
    .desc{
        margin-bottom: 30px;
    }
    .btn-brown{
        padding: 15px 80px;
    }
}
#lifelong-staff{
    padding:50px 0 10px;
    background:url("../images/bg-heart2.png") right bottom no-repeat;
    h2{
        @include oswald-title('left');
        @include color-green();
        font-size: 1.43rem;
        @include media-breakpoint-up("md"){
            font-size: 1.62rem;
        }
        @include media-breakpoint-up("lg"){
            font-size: 1.75rem;
        }
    }
    .thank-you{
        font-family: 'OpenSans Bold';
    }
    .content{
        #desktop-img-position,
        #tablet-img-position{
            display: inline-block;
            float:right;
        }
    }
    img#img-content{
        max-width: 300px;
        margin:20px auto 0;
        @include  media-breakpoint-up("md"){
            max-width: 290px;
        }           
        @include  media-breakpoint-up("lg"){
            max-width: 450px;
        }
    }
    .readmore{
        color: $site-green;
        cursor: pointer;
        text-decoration: underline;
        @include  media-breakpoint-up("md"){
            display: none;
        }
    }
}
#members{
    background: #f6f5f3;
    padding:40px 0 40px;
    @include  media-breakpoint-down("lg"){
        padding:40px 0 50px;
    }
    @include  media-breakpoint-down("md"){
        padding:60px 0 50px;
    }
    h2.topic-title{
        @include nickainley-title-brown();
        margin-bottom: 25px;
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .member-logos{
        padding: 0 0;
        margin-bottom: 25px;
        list-style-type:none;
        overflow: hidden;
        li{
            text-align: center;
            .img-res{
                width: 90%;
                margin:0 auto;
                @include media-breakpoint-up("md"){
                    max-width: 100%;
                    width: auto;
                }
                @include media-breakpoint-up("lg"){
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
}
#connections{
    @include bg-green();
    padding: 35px 0 65px;
    font-size: 0.94rem;
    @include  media-breakpoint-up("md"){
        padding: 30px 0 40px;
    }
    @include  media-breakpoint-up("lg"){
        padding: 45px 0;
    }
    h3{
        &.foot-logo{
            text-align: center;
            margin-bottom: 20px;
            @include  media-breakpoint-up("lg"){
                text-align: left;
            }
        }
        &.module-title{
            display: none;
            @include  media-breakpoint-up("md"){
                @include bebasneue-title('left');
                font-size: 1.125rem;
                display: block;
            }
        }
    }
    .about-us{
        font-family: 'OpenSans Italic';
        font-size:0.93rem;
        text-align: center;
        margin-bottom: 30px;
        @include  media-breakpoint-up("lg"){
            text-align: left;
        }
    }
    .social-icons{
        display: table;
        margin:0 auto 45px;
        width: 300px;
        li{
            display: table-cell;
            text-align: center;
            img{
                width:50px;
                @include  media-breakpoint-up("md"){
                    width: auto;
                }
            }       
        }
        @include  media-breakpoint-up("md"){
            margin:0 auto 55px;
        }
        @include  media-breakpoint-up("lg"){
            width: 340px;
            margin:20px 0 0px;            
        }        
    }
    ul{
        margin: 0 0;
        padding: 0 0;
        list-style-type:none;
        li{
            a{
                color:#fff;
            }
        }
    }
    .addresss{
        margin: 0;
        dt{
            width: 80px;
            float: left;
        }
        dd{
            margin-left:80px;
        }
    }
}
#privacy-terms{
    color:#b0a69d;
    background:#f7f5f2;
    font-size:0.75rem;
    padding: 35px 0 60px;
    .detail{
        margin:25px auto 0;
        max-width: 320px;
        @include  media-breakpoint-up("md"){
            max-width: 740px;
        }
        @include  media-breakpoint-up("lg"){
            max-width: 1068px;
        }
        a{
            color:#b0a69d;
            text-decoration: underline;
            &:hover{
                color:#b0a69d;
            }
        }
        p:last-child{
            margin: 0;
        }
    }
    @include  media-breakpoint-up("md"){
        padding: 35px 0 40px;
    }
    @include  media-breakpoint-up("lg"){
        padding: 25px 0 60px;
    }
    br{
        @include  media-breakpoint-up("md"){
            display: none;
        }
    }
}
#foot-free-app{
    @include bg-cyan();
    padding: 15px 0;
    position: fixed;
    bottom:0;
    width: 100%;
    .strong{
        font-family: "OpenSans Bold";
    }
    .btn-brown{
        display: none;
        @include  media-breakpoint-up("lg"){
            margin-left:25px;
            display: inline-block;
            padding:10px 20px;
        }
    }
    .link-white{
        @include  media-breakpoint-up("lg"){
            display: none;
        }
    }
}
