/* homepage */
#header-slider{
    .slick-header{
        .item{
            .content{
                min-height: 350px;            
                @include media-breakpoint-up("md"){
                    min-height: 460px;
                }
                @include media-breakpoint-up("xl"){
                    min-height: 575px;
                }
            }
            .little-title{
                display: none;
            }
            .first-title{
                @include nickainley-title-green();
                font-size: 1.9rem;
                padding-top:50px;
                @include media-breakpoint-up("md"){
                    padding-top:70px;
                    font-size: 2.3rem;
                }
                @include media-breakpoint-up("xl"){
                    padding-top:85px;
                    font-size: 3.8rem;
                }
            }
            .second-title{
                font-size: 4rem;
                @include bebasneue-title();
                color: $white;
                @include media-breakpoint-up("md"){ 
                    font-size: 6.35rem;
                }
                @include media-breakpoint-up("xl"){ 
                    font-size: 10.6rem;
                }
            }
            p{
                display: none;
                @include media-breakpoint-up("md"){
                    display: block;
                }
            }
            .btn-green,
            .btn-brown{
                width: 200px;
                margin:0 auto;
                display: none;
                padding:15px 0;
                @include media-breakpoint-up("md"){
                    @include btn-bold(); 
                    display: block;
                }
            }
            .btn-bottom{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                @include bg-green();
                padding: 20px 0; 
                @include media-breakpoint-up("md"){
                    display: none;
                }
            }
        }
    }
}
#top-readmores{
    @include bg-cyan();
    .col-md-4{
        border-bottom:1px solid #49B3AF;
        @include media-breakpoint-up("md"){
            border-right:1px solid #49B3AF;
            border-bottom:none;
        }
    }
    .col-md-4:last-child{
        border-right:none;
        border-bottom:none;
    }
    img{
        border-radius: 50px;
        margin-bottom:15px;
        @include media-breakpoint-up("md"){
            width: 85px;
            border-radius:42.5px;
        }
    }
    .gray{
        transition: visibility 0s, opacity 0.5s linear;
        text-align: center;
        display: none;
        @include bg-gray;
        min-height: 267px;
        padding:25px 0 0;
        .desc{
            color:$site-brown;
            line-height: 1.4em;
            margin-bottom:15px;
            @include media-breakpoint-up("lg"){
                padding: 0 20px;
                margin-bottom:10px;
            }
        }
        .btn-readmore{
            border: none;
            padding: 0 15px;
            @include btn-bitalic();
            @include color-cyan();
            text-decoration: underline;
            min-height: 20px; 
            display: inline-block;
            cursor: pointer;
            @include media-breakpoint-up("lg"){
                border: 2px solid #34aba7;
                @include btn-bold();
                min-height: 45px;
                padding: 9px 55px 0;
                text-decoration: none;
            }
            span{
                display: inline; 
                @include media-breakpoint-up("lg"){
                    display: none;
                }
            }
            &:hover{
                color:$site-cyan;
            }
        }
    }
    .green{
        padding:25px 0 0;
        text-align: center;
        min-height: 267px;
        h3{
            font-size: 2.24rem;
            color:$white;
            @include bebasneue-title(); 
            @include media-breakpoint-up("lg"){
                font-size:2.8rem;
            }
        }
        .desc{
            color:#fff;
            font-size:1.125rem;
            font-family: "Oswald Light";
            @include media-breakpoint-up("lg"){
                font-size:1.25rem;
            }
        }
    }
}
#recent-adopts{
    background: url("../images/bg-heart.png") top center no-repeat;
    padding:50px 0 ;
    text-align: center;
    @include color-brown();
    .topic-title{
        margin-bottom:10px;
        @include nickainley-title-brown();
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .sub-title{
        @include color-brown();
        text-align: center;
        margin-bottom:40px;
    }
    .baby-name{
        color: $site-green;
        font-size: 1.375rem;
        font-family: 'Oswald';
        margin-bottom: 10px;
    }
    .baby-img{
        padding: 5px;
        @include bg-gray;
        margin-bottom: 15px;
    }
    .congrat{
        color:$site-brown;
        font-family: 'OpenSans Italic';
        br{
            @include media-breakpoint-up("lg"){
                display: none;
            }
        }
    }
}
#lifelong-union{
    @include bg-green();
    font-family: "Oswald";
    padding:20px 0;
    text-align: center;
    span{
        font-size:1.25rem;
        @include media-breakpoint-up("md"){
            font-size:1.5rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:1.65rem;
        }
    }
    .link-white{
        font-size: 1em;
        span{
            font-size: 1em;
        }
    }
}
#adoption-stories{
    @include bg-gray;
    text-align: center;
    padding: 60px 0 70px;
    @include color-brown();
    h2.topic-title{
        margin-bottom: 25px;
        @include nickainley-title-brown();
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .sub-title{
        margin-bottom: 40px;
    }
    .slick-stories{
        margin: 0 10px;
        .slick-nav{    
            position: absolute;
            display: block;
            width: 21px;
            height: 29px;
            top:115px;
            cursor: pointer;  
            @include media-breakpoint-up("md"){
            }      
            @include media-breakpoint-up("xl"){                
            }
        }
        .prev{
            left: 15px;
            background: url(../images/arrPrevStory.png) no-repeat center center;
        }
        .next{
            right: 15px;
            background: url(../images/arrNextStory.png) no-repeat center center;
        }
        .item{
            background: #fff;
            padding: 5px 5px 20px 5px ;
            margin: 0 7px;
            min-height: 360px;
            img{ 
                margin: 0 auto 20px;
                width:100%;
            }
            h3{
                font-size: 1.75rem;
                font-family: 'Oswald';
                margin-bottom: 20px;
            }
            .desc{ }
            .btn-ribbon{
                background: url("../images/ribbon.png") no-repeat center center;
                display: block;
                margin: 0 auto;
                height: 37px ;
                line-height: 37px ;
                width: 210px;
                color:#fff;
                &:hover{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
}
#free-app{
    @include block-cyan-title-button{        
        h2.module-title{
            margin-bottom: 45px;
        }
        .btn-brown{
            padding: 15px 80px;
        }
    }
}
#lifelong-staff{
    padding:50px 0 10px;
    background:url("../images/bg-heart2.png") right bottom no-repeat;
    h2{
        @include oswald-title('left');
        @include color-green();
        font-size: 1.43rem;
        @include media-breakpoint-up("md"){
            font-size: 1.62rem;
        }
        @include media-breakpoint-up("lg"){
            font-size: 1.75rem;
        }
    }
    .thank-you{
        font-family: 'OpenSans Bold';
    }
    .content{
        #desktop-img-position,
        #tablet-img-position{
            display: inline-block;
            float:right;
        }
    }
    img#img-content{
        max-width: 300px;
        margin:20px auto 0;
        @include  media-breakpoint-up("md"){
            max-width: 290px;
        }           
        @include  media-breakpoint-up("lg"){
            max-width: 450px;
        }
    }
    .readmore{
        color: $site-green;
        cursor: pointer;
        text-decoration: underline;
        @include  media-breakpoint-up("md"){
            display: none;
        }
    }
}
#members{
    @include bg-gray;
    padding:40px 0 40px;
    @include  media-breakpoint-down("lg"){
        padding:40px 0 50px;
    }
    @include  media-breakpoint-down("md"){
        padding:60px 0 50px;
    }
    h2.topic-title{
        @include nickainley-title-brown();
        margin-bottom: 25px;
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .member-logos{
        padding: 0 0;
        margin-bottom: 25px;
        list-style-type:none;
        overflow: hidden;
        li{
            text-align: center;
            .img-res{
                width: 90%;
                margin:0 auto;
                @include media-breakpoint-up("md"){
                    max-width: 100%;
                    width: auto;
                }
                @include media-breakpoint-up("lg"){
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
}
/* page pergnament */
#header-slider{
    .slick-header{
        .item{
            .cyan-title{
                @include bebasneue-title-cyan();
                font-size: 5.25rem;
                padding-top:15px;
                @include media-breakpoint-up("md"){
                    padding-top:70px;
                    font-size: 6.75rem;
                }
                @include media-breakpoint-up("xl"){
                    padding-top:93px;
                    font-size: 9rem;
                }
            }
            .brown-title{
                font-size: 1.875rem;
                @include nickainley-title-brown();
                @include media-breakpoint-up("md"){ 
                    font-size: 2.4375rem;
                }
                @include media-breakpoint-up("xl"){ 
                    font-size: 3.4375rem;
                }
            }
        }
    }
}
#waiting-families{
    padding:40px 0;
    @include bg-gray;
    .topic-title{
        margin-bottom:25px;
        @include nickainley-title-brown();
        font-size:2.88rem;
        @include media-breakpoint-up("md"){
            font-size:3rem;
        }
        @include media-breakpoint-up("lg"){
            font-size:3.2rem;
        }
    }
    .item{
        background: #fff;
        padding: 5px 5px 20px 5px ;
        margin: 0 7px;
        min-height: 360px;
        text-align: center;
        @include color-brown;
        img{ 
            margin: 0 auto 20px;
            width:100%;
        }
        h3{
            font-size: 1.75rem;
            font-family: 'Oswald';
            margin-bottom: 20px;
        }
        .desc{ }
    }
    .btn-green{
        padding: 10px 30px;
        margin:28px auto 0;
        display: inline-block;
        color:#fff;
        &:hover{
            color:#fff;
            text-decoration: none;
        }
    }
}
#first-talk{
    padding:25px 0 45px;
    .heart-item{
        padding: 0px 0 0px 75px;
        min-height: 65px;
        margin:15px 0 35px;
        background: url(../images/list-item-heart.png) no-repeat top left;
        @include media-breakpoint-up("md"){
            padding-top:10px;
            background-position: center left;
        }
    }
}
#birthparent-form{
    padding:40px 0 50px;
    @include media-breakpoint-up("md"){
        padding:45px 0 55px;
    }
    @include media-breakpoint-up("lg"){
        padding:75px 0 60px;
    } 
    .topic-title{
        margin:10px 0 10px;
        @include bebasneue-title-cyan;
        font-size:2.4375rem;
        @include media-breakpoint-up("md"){
            font-size:2.875rem;
            margin:40px 0 15px;
        }
        @include media-breakpoint-up("lg"){
            font-size:3rem;
            margin:45px 0 15px;
        }
    }
    .bold{
        padding-bottom:30px;
        margin-bottom: 0;
    }
    .box-brown-head-right,
    .box-brown-content-right,
    .box-brown-foot-right{
        max-width: 100%;
        margin: 0 auto;
        @include media-breakpoint-up("md"){
            max-width: 768px;
        }
        @include media-breakpoint-up("lg"){
            max-width: 1024px;
        }
    }
    .box-brown-content{
        padding-top:25px;
        padding-bottom:25px;
    }
    .wrapper{
        @include media-breakpoint-up("md"){
            padding:0 30px;
        }
        @include media-breakpoint-up("lg"){
            padding:0 85px;
        }
        label{
            @include color-brown;
            &.custom-control-label{
                color:$gray-900;
            }
        }
        .btn-green{
            margin:0 auto 25px;
            padding:15px 35px;
        }
    }
}
/* page pergnant why to adoption */
#breadcrumbs{
    @include bg-cyan;
    padding: 25px 0;
    .top-title{
        font-size: 2.5rem;
        @include bebasneue-title();
        @include media-breakpoint-up("md"){
            text-align: left;
            font-size: 3.25rem;
        }
        @include media-breakpoint-up("lg"){
            text-align: left;
            font-size: 4rem;
        }
    }
}
#top-banner{
    .wrapper{
        padding:10px 0 0px;
        background-repeat: no-repeat;
        background-position: 0px 350px;
        @include media-breakpoint-up("md"){
            background-position: top center;
            padding:0px 0 105px;
            background-repeat: no-repeat;
        }
        img{
            max-width: 100%;
        }
        .bold{
            padding:0px 0 80px;
        }
        .callbox{
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            @include media-breakpoint-up("md"){
                margin-top: 25px;
            }
            @include media-breakpoint-up("lg"){
                margin-top: 60px;
            }
            .quote{
                @include nickainley-title;
                font-size: 1.875rem;
                color:#fff;
                margin-bottom:15px;
                @include media-breakpoint-up("lg"){
                    font-size: 2rem;
                    padding:20px 40px 0;
                }
            }
            .sayer{
                font-size:.9375rem;
                color:#fff;
                text-transform: uppercase;
                margin-bottom:40px;
            }
            .btn-brown{
                padding: 15px 30px;
                color:#fff;
                display: inline-block;
                margin-bottom:30px;
            }
        }
    }
}
.why-consider-adoption #content{
    padding:25px 0 ;
    .green{
        text-decoration: underline;
    }
    .box{
        margin-bottom:25px;
        @include media-breakpoint-up("md"){
            &:nth-child(even){
                margin-left:30px;
            }
        }
        h3{
            @include oswald-title-cyan();
            font-size: 1.4375rem;
            text-align: center;
            text-transform: uppercase;
            @include media-breakpoint-up("md"){
                text-align: left;
            }
        }
        p{
            margin: 0;
            padding-bottom: 20px;
        }
    }
}
/* page pergnant types of adoption */
.types-of-adoption #breadcrumbs{    
    padding: 25px 0 35px;
}
.types-of-adoption #content{
    background:url(../images/bg-gray.png) repeat-x center 0px ;
    padding:25px 0 80px;
    @include  media-breakpoint-up("md"){
        background:url(../images/bg-gray.png) repeat-x center -290px ;
    }           
    @include  media-breakpoint-up("lg"){
        background:url(../images/bg-gray.png) repeat-x center -380px  ;
    }
    img#img-content{
        max-width: 210px;
        display: block;
        margin: -55px auto 20px;
        @include  media-breakpoint-up("md"){
            max-width: 290px;
            float: right;
            display: inline;
            margin: -40px 0 20px 20px;
        }           
        @include  media-breakpoint-up("lg"){
            max-width: 350px;
            margin:-65px 0  0px 50px;
        }
    }
    .bold{
        min-height: 405px;
        line-height: 1.8;
        @include  media-breakpoint-up("md"){
            min-height: 255px;
        }
        @include  media-breakpoint-up("lg"){
            min-height: 185px;
        }
    }
    .desc{
        h3{
            @include oswald-title-green(left);
            font-size: 1.375rem;
            margin-top:45px;
        }
        p{

        }
    }

}
/* You are not alone block */
#you-arenot-alone{
    @include block-cyan-title-button{
        h2.module-title{
            margin-bottom: 10px;
        }
        .btn-brown{
            padding: 15px 30px;
        }
    }
}
/* Financial assistance page */
.financial-assistance{
    #under-breadcrumbs{
        @include bg-gray;
        padding: 30px 0 60px;
    }
    #content{
        .desc{
            padding: 40px 0 70px;
            h3{
                @include nickainley-title-cyan(left);
                font-size:1.75rem;
                @include  media-breakpoint-up("md"){
                    font-size:1.875rem;
                }
            }
        }
    }
}